{% import "_includes/forms" as forms %}

{{ forms.selectField({
    options: [
        {
            label: "--Choose--",
            value: ""
        },
        {
            label: "https://search-acc.uitdatabank.be",
            value: "https://search-acc.uitdatabank.be/"
        },
        {
            label: "https://search-test.uitdatabank.be",
            value: "https://search-test.uitdatabank.be/"
        },
        {
            label: "https://search.uitdatabank.be",
            value: "https://search.uitdatabank.be/"
        }
    ],
    label: "Api location",
    name: "apiLocation",
    value: settings.apiLocation
}) }}

{{ forms.textField({
    first: true,
    label: "Api key",
    name: 'apiKey',
    value: settings.apiKey
}) }}